/** HOMEPAGE STYLES **/
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
body p {
	color: #555;
	line-height: 24px;
}
.caret {
	margin-left: 13px;
}

.navbar-collapse {
	border-top: none !important;
	box-shadow: none !important;
}

/** HEADER **/
#before-header {
	padding: 7px 0px;
    text-align: center;
    color: #bfdeff;
    background: #267bd9;
    font-size: 13px;
}
#before-header p {
	margin: 0px;
	font-weight: 400;
	color: #cae3ff;
}
#before-header p a {
	color: #cae3ff;
	font-weight: 500;
	text-decoration: underline;
}
header {
	padding: 0px 15px;
}
.navbar-nav { margin-left: 7%;}

.navbar-default {
	background: transparent;
	border: none;
}
.navbar-brand {
	height: auto;
}
  .navbar-collapse {width: 75% !important;}
nav ul {
	list-style: none;
	padding: 0;
	text-align: center;
	margin: 0;
}
nav ul li {
	display: inline-block;
    margin: 20px 5px;
	line-height: 1;
}
nav ul li a {
	font-size: 15px;
	color: #555 !important;
	display: block;
}
ul.dropdown-menu {
	padding: 0px;
}
ul.dropdown-menu li {
	margin: 0px 0px;
	display: block;
}
.dropdown-menu>li>a {
	padding: 10px 20px;
}

header p {
	margin: 30px 0 10px;
	float: right;
}
header p a {
	color: #555;
	margin: 0px 0px 0px 10px;
}
#homepage-banner{
	background: url('images/banner-2.jpg') no-repeat center !important;
	background-size: cover !important;	
	background-attachment: fixed !important;
	background-position: center top !important;
}
#banner-text {
    text-align: center;
    min-height: 250px;
	padding-bottom: 30px;
}
#banner-text h1 {
	font-size: 35px;
    font-weight: 700;
    color: #222;
    margin: 50px 0px 0px 0px;
	padding-bottom: 20px;
}

#homepage-banner #banner-text h1 {
	font-size: 50px;
}
#banner-text p {
	font-size: 16px;
    color: #555;
    margin: 0px 0px 25px;
    line-height: 24px;
    display: block;
    padding-bottom: 25px;
}

#home-banner-boxes {
	text-align: center;
	margin-top: -115px;
}
#home-banner-boxes .inner {
	border: 1px solid #333;
	margin: 10px 0px;
	overflow: auto;
}
#home-banner-boxes #lesson {
	background: url('images/lesson-bg.jpg') no-repeat center center;
	background-size: cover;
}
#home-banner-boxes #tutor {
	background: url('images/tutor-bg.jpg') no-repeat center center;
	background-size: cover;
}
#home-banner-boxes #time{
	background: url('images/time-bg.jpg') no-repeat center center;
	background-size: cover;	
}
#home-banner-boxes .top {
    overflow: auto;
    padding: 40px 0px 30px;
}
#home-banner-boxes .top h3{
	font-size: 26px;
	color: #fff;
}
#home-banner-boxes .bottom {
    padding: 35px 25px 30px;
    min-height: 210px;
    line-height: 24px;
    color: #555;
}
#home-banner-boxes .bottom a{
	color: #ffbe33;
	font-weight: 500;
	display: block;
	margin: 30px 0px 0px;	
}

#home-features {
	margin: 100px 0px 130px;
}
#home-features #intro {
	text-align: center;
	margin-bottom: 20px;
}
#home-features #intro h2 {
    font-size: 26px;
    color: #000;
    padding-bottom: 30px;
    background: url(images/h2-bg.jpg) no-repeat center bottom;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 35px;
}
#home-features .inner {
	margin: 30px 0px;
}
#home-features p.lg a {
	font-size: 24px;
	color: #333;
	font-weight: 600;
	display: block;
	text-align: center;
	margin: 60px 0px 0px;
	text-decoration: underline;
}
#home-features h4 {
	margin: 5px 0px 17px;
}

#home-esl .top {
    background: #f2f2f2;
    padding: 60px 0px;
    overflow: auto;
}
#home-esl .bottom{
    padding: 60px 0px;
    overflow: auto;	
}
#home-esl h3 {
    font-size: 26px;
    color: #000;
    margin: 40px 0px 30px;
}
#home-esl p {
	margin-bottom: 30px;
}

#home-steps {
	background: #267bd9;
	color: #fff;
	padding: 60px 0px;
}
#home-steps h3 {
	text-align: center;
	margin: 0px 0px 45px;
	padding-bottom: 30px;
	background: url('images/h3-bg.jpg') no-repeat center bottom;
}
#home-steps p {
	color: #fff;
}
#home-steps h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 18px 0px 18px 77px;
    margin-bottom: 25px;
}
#home-steps h4#num1 {
	background: url('images/bg-1.png') no-repeat left center;
}
#home-steps h4#num2 {
	background: url('images/bg-2.png') no-repeat left center;	
}
#home-steps h4#num3 {
	background: url('images/bg-3.png') no-repeat left center;	
}
#home-steps p.text-center {
	margin-top: 0px;
}
#home-steps .inner {
	margin-bottom: 50px;
}


footer {
	background: #333;
	color: #fff;
	padding: 30px 0px 60px;
}
footer h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 25px;
	margin-top: 50px;
}
footer ul {
	list-style: none;
	padding: 0px;
}
footer ul li {
	margin: 0px;
}
footer ul li a {
	font-size: 14px;
	color: #fff;
	display: block;
	line-height: 30px;
}
footer ul li a:hover, footer ul li a:focus {
	color: #ffbe33;
	text-decoration: none;
}

footer ul.social {
	float: right;
	margin-bottom: 0px;
}
footer ul.social li{
    display: inline-block;
    margin: 0px 0px 0px 5px;
    width: 35px;
    height: 35px;
    background: #ffbe33;
    text-align: center;
    border-radius: 4px;
}
footer ul.social li a{
    color: #fff;
    line-height: 2;
    font-size: 18px;
}
footer ul.social li:hover{
	background: #000;
	color: #fff;
}

.footer-bottom {
	margin-top: 60px;
}
.footer-bottom p {
    margin-bottom: 9px;
    margin-top: 10px;
}
.footer-bottom p, .footer-bottom a {
	color: #fff;
}
.footer-bottom hr {
    margin-top: 3px;
    margin-bottom: 0px;
	border-top: 1px solid #555555;
}
#copyright p {
	color: #7c7c7c;
}
#copyright p a{
	color: #7c7c7c;
    margin: 0px 5px;	
}

/** BUTTONS **/

.blue-clear {
    border: 1px solid #267bd9;
    border-radius: 24px;
    color: #267bd9;
}
.blue-clear:hover {
	background: #267bd9;
	color: #fff;
}

.orange {
	background: #ffbe33;
	padding: 16px 25px;
	color: #222;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 25px;
}
.orange:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}
.orange-white {
	background: #ffbe33;
	padding: 7px 30px;
	color: #fff;
	font-weight: 400;
	border-radius: 25px;
	margin-right: 15px;
}
.orange-white:hover {
	background: #000;
	color: #fff;
}
.black-clear {
	border: 1px solid #333;
	padding: 7px 30px;
	color:  #333;
	font-weight: 400;
	border-radius: 25px;
	margin-right: 15px;
}
.black-clear:hover {
	border: 1px solid #000;
	color: #fff;
	background: #000;
}

.orange-small {
    font-size: 15px;
    color: #fff;
    border: 1px solid #ffbe33;
    text-transform: uppercase;
    font-weight: 500;
    padding: 7px 20px;
    border-radius: 19px;
    margin: 35px auto 0;
    text-align: center;
    display: inline-block;
    background: #ffbe33;
}
.clear-small {
    font-size: 15px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 7px 20px;
    border-radius: 19px;
    margin: 35px auto 0;
    text-align: center;
    display: inline-block;
}
.orange-small:hover, .clear-small:hover  {
	text-decoration: none;
	color: #fff;
	background: #000;
	border: 1px solid #000;
}

form textarea {
	width: 100%;
}