/** SUBPAGES GLOBAL **/

.grey-bg {
	background: #f5f5f5 !important;
}

li.hidden-link-dt {
	display: none;
}

/** PRICING PAGE **/

#pricing-table {
	margin-top: -51px;
}

#faq {
	margin: 80px 0px;
	overflow: auto;
}
#faq h2 {
	font-size: 26px;
    text-align: center;
    color: #000;
    margin-bottom: 60px;
    padding-bottom: 30px;
    background: url(images/h2-bg.jpg) no-repeat center bottom;
}
.panel-group .panel {
	margin: 20px 0px;
	border-radius: 0px;
	border: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border: 1px solid #f5f5f5;
}

#pricing-table ul.nav-pills li a {
	padding: 15px 70px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 15px 15px 0px 0px;
	background: #cdcdcd;
	color: #333;
}
#pricing-table ul.nav-pills li.active a {
	background: #267bd9;
	color: #fff;
}

#pricing-table .tab-content {
	background: #267bd9;
	padding: 45px 10px;
}

#pricing-table .tab-content .inner {
	padding: 20px 25px;
    border: 1px solid #fff;
	color: #fff;
	margin: 20px 0px;
} 

#pricing-table .tab-content .white {
    background: #fff;
    color: #000;	
}

#pricing-table .tab-content .inner h3{
    font-size: 26px;
    font-weight: 500;
    margin: 10px 0px 20px;
}
#pricing-table .tab-content .inner p{ 
	color: #fff;
	line-height: 24px;
	font-size: 15px;
	font-weight: 400;
}
#pricing-table .tab-content .inner p.plan-price{ 
    font-size: 46px;
    margin: 35px 0px;
	line-height: 1;
	font-weight: 500;
}
#pricing-table .tab-content .inner p.plan-price span.dollar-sign{
	font-size: 22px;
    line-height: 46px;
    display: block;
    float: left;
    margin-right: 5px;
	font-weight: 500;
}
#pricing-table .tab-content .white p{
	color: #000;
}

#pricing-table .tab-content .inner .bottom {
	text-align: center;
}
#pricing-table .tab-content .inner .bottom p{
	font-weight: 500;
}
#pricing-table .tab-content .inner .top{
	min-height: 380px;
}

ul.special {
	list-style: none;
	padding: 0px;
}
ul.special li {
	padding-left: 30px;
	background: url('images/list-special.png') no-repeat top left;
	margin: 14px 0px;
}

.panel-default > .panel-heading {
    color: #111;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding:0px;
}

.panel-default > .panel-heading h4 a{
  font-size: 18px;
    padding: 20px 60px 20px 15px;
    background: url(images/panel-heading-bg.png) no-repeat 98% 14px;
    display: block;
    font-weight: 500;
}

.panel-default > .panel-heading h4 a:hover, .panel-default > .panel-heading h4 a:focus{
	text-decoration: none;
	outline: none !important;
}

/** About Page **/

#banner-text-half {
	padding-bottom: 80px;
	padding-top: 20px;
}
#banner-text-half h1 {
	font-size: 35px;
	font-weight: 700;
	color: #222;
	margin-bottom: 25px;
	margin-top: 40px;
}
#banner-text-half p {
	font-size: 16px;
    color: #555;
    font-weight: 300;
    line-height: 30px;
}
#about {
	padding: 50px 0px 70px;
}

#about .inner {
	margin: 40px 0px;
	overflow: auto;
}
#about h3 {
	font-size: 22px;
	color: #555;
	margin: 30px 0px 45px;
	padding-bottom: 30px;
	background: url(images/h2-bg.jpg) no-repeat left bottom;
	font-weight: 600;
}
#mission-values {
	background: #425468;
	color: #fff;
	padding: 60px 0px 20px;
}
#mission-values p {
	color: #fff;
	margin-bottom: 25px;
}
#mission-values .inner {
    padding: 25px 25px 55px;
    border: 1px solid #fff;
	margin-bottom: 40px;
}
#mission-values .inner h3 {
	font-size: 32px;
	color: #fff;
	font-weight: 600;
	margin: 15px 0px 35px;
	padding-bottom: 35px;
	background: url(images/h3-bg.jpg) no-repeat left bottom;
}
#mission-values h4 {
	font-size: 26px;
    margin: 0px 0px 30px;
    font-weight: 600;
}

/** HOW IT WORKS Page **/

#banner-text p.sub {
	font-size: 22px;
	font-weight: 300;
	color: #555;
}

#how-it-works  {
	margin-top: -51px;
}

#how-it-works ul.nav-pills li a {
	padding: 15px 45px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 15px 15px 0px 0px;
	background: #cdcdcd;
	color: #333;
	border-radius: 0px;
}
#how-it-works ul.nav-pills li.active a {
	background: #267bd9;
	color: #fff;
}

#how-it-works .tab-content {
	background: #267bd9;
	padding: 65px 10px;
}

#skype-registration-accordion h4 a {
    background: url(images/ico-cross.png) no-repeat 98% 11px;
    font-size: 18px;
    font-weight: bold;
    color: #111111;
}

#skype-registration-accordion ul, 
#student-registration ul,
#lesson-reservation  ul{
	list-style: none;
}

#skype-registration-accordion ul li,
#student-registration ul li,
#lesson-reservation  ul li{
	margin: 20px 0px;
}

#how-it-works .inner-white {
	padding: 30px 0px;
	background: #fff;
	overflow: auto;
}

/** SIGN IN PAGE **/

#banner-text-half h1.sign-in {
	margin-top: 0px;
}
#banner-text-half label {
	font-size: 15px;
	color: #555;
	display: block;
	font-weight: 400;
}


#banner-text-half input[type=text]{
	padding: 10px 15px;
	border: 1px solid #a1b2c5;
	width: 100%;
	margin-bottom: 30px;
}

#banner-text-half p.forgot-password {
	float: left;
	line-height: 1;
}

#banner-text-half p.forgot-password a{
	color: #a9a8a8;
	font-size: 15px;
}
#banner-text-half input[type=submit] {
    margin: 0px;
    float: right;
    padding: 7px 35px;
	letter-spacing: 1px;
}

#homepage-banner #banner-text {
	min-height: 470px;
}

/** WHY ENGLISH **/

#why-english {
	margin: 80px 0px;
}
#why-english .left {
	padding: 60px 0px;
}

/** CURRICULUM **/

#curriculum-why-english  {
	padding: 100px 0px;
	background: url('images/curriculum-bg.jpg') no-repeat center center;
	background-size:  cover;
	margin-top: 30px;
}
#curriculum-why-english h3 {
	font-size: 26px;
	color: #222;
	margin-bottom: 40px;
	font-weight: 600;
}

#curriculum-why-english p {
	line-height: 30px;
	font-size:  15px;
	color: #333;
	margin-bottom:  20px;
}


.content-box {
	background: #fff;
	padding: 50px 0px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 80px;
}

.content-box h2 {
	text-align: center;
	padding-bottom: 30px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: none;
}


/** HOMEPAGE STYLES **/
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
body p {
	color: #555;
	line-height: 24px;
}
.caret {
	margin-left: 13px;
}

.navbar-collapse {
	border-top: none !important;
	box-shadow: none !important;
}

/** HEADER **/
#before-header {
	padding: 7px 0px;
    text-align: center;
    color: #bfdeff;
    background: #267bd9;
    font-size: 13px;
}
#before-header p {
	margin: 0px;
	font-weight: 400;
	color: #cae3ff;
}
#before-header p a {
	color: #cae3ff;
	font-weight: 500;
	text-decoration: underline;
}
header {
	padding: 0px 15px;
}
.navbar-nav { margin-left: 7%;}

.navbar-default {
	background: transparent;
	border: none;
}
.navbar-brand {
	height: auto;
}
  .navbar-collapse {width: 75% !important;}
nav ul {
	list-style: none;
	padding: 0;
	text-align: center;
	margin: 0;
}
nav ul li {
	display: inline-block;
    margin: 20px 5px;
	line-height: 1;
}
nav ul li a {
	font-size: 15px;
	color: #555 !important;
	display: block;
}
ul.dropdown-menu {
	padding: 0px;
}
ul.dropdown-menu li {
	margin: 0px 0px;
	display: block;
}
.dropdown-menu>li>a {
	padding: 10px 20px;
}

header p {
	margin: 30px 0 10px;
	float: right;
}
header p a {
	color: #555;
	margin: 0px 0px 0px 10px;
}
#homepage-banner{
	background: url('images/banner-2.jpg') no-repeat center !important;
	background-size: cover !important;	
	background-attachment: fixed !important;
	background-position: center top !important;
}
#banner-text {
    text-align: center;
    min-height: 250px;
	padding-bottom: 30px;
}
#banner-text h1 {
	font-size: 35px;
    font-weight: 700;
    color: #222;
    margin: 50px 0px 0px 0px;
	padding-bottom: 20px;
}

#homepage-banner #banner-text h1 {
	font-size: 50px;
}
#banner-text p {
	font-size: 16px;
    color: #555;
    margin: 0px 0px 25px;
    line-height: 24px;
    display: block;
    padding-bottom: 25px;
}

#home-banner-boxes {
	text-align: center;
	margin-top: -115px;
}
#home-banner-boxes .inner {
	border: 1px solid #333;
	margin: 10px 0px;
	overflow: auto;
}
#home-banner-boxes #lesson {
	background: url('images/lesson-bg.jpg') no-repeat center center;
	background-size: cover;
}
#home-banner-boxes #tutor {
	background: url('images/tutor-bg.jpg') no-repeat center center;
	background-size: cover;
}
#home-banner-boxes #time{
	background: url('images/time-bg.jpg') no-repeat center center;
	background-size: cover;	
}
#home-banner-boxes .top {
    overflow: auto;
    padding: 40px 0px 30px;
}
#home-banner-boxes .top h3{
	font-size: 26px;
	color: #fff;
}
#home-banner-boxes .bottom {
    padding: 35px 25px 30px;
    min-height: 210px;
    line-height: 24px;
    color: #555;
}
#home-banner-boxes .bottom a{
	color: #ffbe33;
	font-weight: 500;
	display: block;
	margin: 30px 0px 0px;	
}

#home-features {
	margin: 100px 0px 130px;
}
#home-features #intro {
	text-align: center;
	margin-bottom: 20px;
}
#home-features #intro h2 {
    font-size: 26px;
    color: #000;
    padding-bottom: 30px;
    background: url(images/h2-bg.jpg) no-repeat center bottom;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 35px;
}
#home-features .inner {
	margin: 30px 0px;
}
#home-features p.lg a {
	font-size: 24px;
	color: #333;
	font-weight: 600;
	display: block;
	text-align: center;
	margin: 60px 0px 0px;
	text-decoration: underline;
}
#home-features h4 {
	margin: 5px 0px 17px;
}

#home-esl .top {
    background: #f2f2f2;
    padding: 60px 0px;
    overflow: auto;
}
#home-esl .bottom{
    padding: 60px 0px;
    overflow: auto;	
}
#home-esl h3 {
    font-size: 26px;
    color: #000;
    margin: 40px 0px 30px;
}
#home-esl p {
	margin-bottom: 30px;
}

#home-steps {
	background: #267bd9;
	color: #fff;
	padding: 60px 0px;
}
#home-steps h3 {
	text-align: center;
	margin: 0px 0px 45px;
	padding-bottom: 30px;
	background: url('images/h3-bg.jpg') no-repeat center bottom;
}
#home-steps p {
	color: #fff;
}
#home-steps h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 18px 0px 18px 77px;
    margin-bottom: 25px;
}
#home-steps h4#num1 {
	background: url('images/bg-1.png') no-repeat left center;
}
#home-steps h4#num2 {
	background: url('images/bg-2.png') no-repeat left center;	
}
#home-steps h4#num3 {
	background: url('images/bg-3.png') no-repeat left center;	
}
#home-steps p.text-center {
	margin-top: 0px;
}
#home-steps .inner {
	margin-bottom: 50px;
}


footer {
	background: #333;
	color: #fff;
	padding: 30px 0px 60px;
}
footer h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 25px;
	margin-top: 50px;
}
footer ul {
	list-style: none;
	padding: 0px;
}
footer ul li {
	margin: 0px;
}
footer ul li a {
	font-size: 14px;
	color: #fff;
	display: block;
	line-height: 30px;
}
footer ul li a:hover, footer ul li a:focus {
	color: #ffbe33;
	text-decoration: none;
}

footer ul.social {
	float: right;
	margin-bottom: 0px;
}
footer ul.social li{
    display: inline-block;
    margin: 0px 0px 0px 5px;
    width: 35px;
    height: 35px;
    background: #ffbe33;
    text-align: center;
    border-radius: 4px;
}
footer ul.social li a{
    color: #fff;
    line-height: 2;
    font-size: 18px;
}
footer ul.social li:hover{
	background: #000;
	color: #fff;
}

.footer-bottom {
	margin-top: 60px;
}
.footer-bottom p {
    margin-bottom: 9px;
    margin-top: 10px;
}
.footer-bottom p, .footer-bottom a {
	color: #fff;
}
.footer-bottom hr {
    margin-top: 3px;
    margin-bottom: 0px;
	border-top: 1px solid #555555;
}
#copyright p {
	color: #7c7c7c;
}
#copyright p a{
	color: #7c7c7c;
    margin: 0px 5px;	
}

/** BUTTONS **/

.blue-clear {
    border: 1px solid #267bd9;
    border-radius: 24px;
    color: #267bd9;
}
.blue-clear:hover {
	background: #267bd9;
	color: #fff;
}

.orange {
	background: #ffbe33;
	padding: 16px 25px;
	color: #222;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 25px;
}
.orange:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}
.orange-white {
	background: #ffbe33;
	padding: 7px 30px;
	color: #fff;
	font-weight: 400;
	border-radius: 25px;
	margin-right: 15px;
}
.orange-white:hover {
	background: #000;
	color: #fff;
}
.black-clear {
	border: 1px solid #333;
	padding: 7px 30px;
	color:  #333;
	font-weight: 400;
	border-radius: 25px;
	margin-right: 15px;
}
.black-clear:hover {
	border: 1px solid #000;
	color: #fff;
	background: #000;
}

.orange-small {
    font-size: 15px;
    color: #fff;
    border: 1px solid #ffbe33;
    text-transform: uppercase;
    font-weight: 500;
    padding: 7px 20px;
    border-radius: 19px;
    margin: 35px auto 0;
    text-align: center;
    display: inline-block;
    background: #ffbe33;
}
.clear-small {
    font-size: 15px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 7px 20px;
    border-radius: 19px;
    margin: 35px auto 0;
    text-align: center;
    display: inline-block;
}
.orange-small:hover, .clear-small:hover  {
	text-decoration: none;
	color: #fff;
	background: #000;
	border: 1px solid #000;
}

form textarea {
	width: 100%;
}



/** MOBILE CSS**/

@media (max-width: 940px) {
.navbar-collapse.collapse {
	display: none !important; 
}

}

@media (max-width: 940px) {
	.navbar-toggle, .navbar-collapse.in {
		display: block !important;
	}
	.navbar-default .navbar-toggle {
		margin: 25px 0px;
		border: none;
		background: none !important;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #000;
		height: 4px;
	}
}

@media only screen and (max-width: 1200px) {
	nav ul li {
		margin: 20px;
	}
}

@media only screen and (max-width: 1150px) {
	nav ul li {
		margin: 20px 0px;
	}
}


@media only screen and (max-width: 992px) {
	#banner-text h1 {
		font-size: 45px;
	}
	#home-features {
		margin: 40px 0px 70px;
	}
	#home-features .inner {
		margin: 40px 0px;
		text-align: center;
	}
	#home-features h4{
		margin-top: 30px;
	}
	#home-features p.lg a {
		margin-top: 20px;
	}
	#home-banner-boxes .bottom {
		min-height: initial;
	}
	#home-esl .col-md-6 {
		width: 100%;
	}
	footer .footer-bottom {
		text-align: center;
	}
	#copyright p {
		text-align: center;
	}
	footer ul.social {
		float: none;
		margin: 30px 0px;
	}
	header {
		padding: 0px;
	}
	
	#how-it-works ul.nav-pills li a {
		padding: 15px 10px;
	}
	#banner-text-half form {
		margin: 50px 0px 0px;
	}
}
@media only screen and (max-width: 940px) {
	.navbar-header, .navbar-collapse  {
		width: 100% !important;
		margin: 0px !important;
		padding: 0px;
	} 
	nav ul li {
		margin: 0px;
	}
	header p {
		margin-top: 10px;
	}
	.navbar-collapse {
		overflow-x: hidden !important;
	}
	
}
@media only screen and (max-width: 768px) {
	header p {
		display: none;
	}
	nav ul {
		text-align: left;
		margin: 0px;
	}
	.navbar-nav {
		margin-left: 0px;
	}
	li.hidden-link-dt {
		display: block;
	}

}

@media only screen and (max-width: 684px) {
	.nav-pills > li {
		float: none;
	}
	.nav-pills > li + li {
		margin: 0px;
	}
	#how-it-works ul.nav-pills li a {
	}
}

@media only screen and (max-width: 500px) { 
	#before-header p {
		font-size: 12px;
	}
}

@media only screen and (max-width: 460px) {
	.navbar-default .navbar-brand {
		width: 215px;
		padding: 0px;
		margin: 20px 0px;
	}
	.orange {
		padding: 10px 15px;
		font-size: 12px;
	}
}
@media only screen and (max-width: 1160px) {
	
	
}
@media only screen and (max-width: 1160px) {
	
	
}


